body{ 
    padding: 0; 
    margin: 0;
    background-color: #c0dae4;
    text-align: center;
    
}

header{
    display: flex;
    justify-content: center;
    background-image: url("ceu.gif");
    align-items: center;
    width: 100%;
    height: 100%;

}

h1 {
   display: flex;
   font-family: 'Righteous', cursive;
   font-weight: bold; 
   color: #e7f6f8;
   font-size: 40px;
}

.Datainput{
    margin-left: 100px;
}
   
#calendario{
    background-color: #b7dee4;
    font-family: 'Righteous', cursive;
    border: none;

}

.botaoData{
    font-family: 'Righteous', cursive;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    color: rgb(40, 95, 177);
    transition: 0.5s;
}

#data{
    display: flex;
    justify-content: center;
    color: #00587a;
    font-family: 'Righteous', cursive;
    font-weight: bold; 
    margin-top: 60px;   
}

#imagem{
    height: 60%;
    width: 60%;
    
}

#rodape{
    font-family: 'ABeeZee', sans-serif;
    color: #092c57;
    font-weight: bold; 
}

#legenda{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ABeeZee', sans-serif;
    color: #092c57;
    padding: 40px;
}

