body{ 
    padding: 0; 
    margin: 0;
    background-color: #c0dae4;
    text-align: center;
    
}

header{
    display: flex;
    justify-content: center;
    background-image: url("ceu.gif");
    align-items: center;
    line-height: 30px;
    width: 100%;
    height: 100%;

}

h1 {
   display: flex;
   font-family: 'Righteous', cursive;
   font-weight: bold; 
   color: #e7f6f8;
   font-size: 40px;
}

#diaMes{
    margin-left: 100px;
}
   

#data{
    display: flex;
    justify-content: center;
    color: #00587a;
    font-family: 'Righteous', cursive;
    font-weight: bold; 
    margin-top: 60px;   
}

#imagem{
    height: 60%;
    width: 60%;
    
}

#rodape{
    font-family: 'ABeeZee', sans-serif;
    color: #092c57;
    font-weight: bold; 
}

#legenda{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ABeeZee', sans-serif;
    color: #092c57;
    padding: 40px;
}

